<div id="about" style="background-color:#F2F2F2;padding:114px 50px 98px 70px;font-family:arial;font-size:12px;" class="col-lg-12 text-justify">
<h4>Mike, World's most experienced trainer.</h4>
<p>
My name is Mike. I went to school in Slough, (Bucks.) England. As an Indian, at the age of 11,  I started picking up the British English sounds. I am a graduate of Punjab University-India. I was President of an Incorporation in New York, U.S.A.  This is where I practiced American English sounds for over 10  years. I  worked as a Voice Accent Communication Corporate Trainer in an International BPO in New Delhi-India. This is where I trained and  practiced all global English Sounds  for a little over 5 years. I have done Voice-over  recording for a British Shipping Company thru a KPO in New Delhi. I have worked as a Guest Faculty at JIMS (Management Institute ) in New Delhi-India. I am a certified global Trainer of Excellence to Students, Professionals, IELTS & TOEFL preparation, BPO Associates, Businessmen, Housewives, Job Aspirants etc. I am probably the most experienced trainer on spoken English skills in the entire world.  So many people are held back professionally in U.S.A. and other English speaking countries.  Asians, Russians,  Europeans & Latin communities in America  and elsewhere need to brush up their Spoken English Skills. A perfect opportunity for you to open your SKYPE and be trained from New Delhi-India to anywhere else in the world. 
Non Resident Indians need to improve their Voice Accent Communication skills.
</p>
<h4 class="text-left">
    <a href="callto://+919811753853" class="fa fa-skype padding5 fg-color-orange"></a>
    <a href="https://www.facebook.com/mikespokenenglish" target="_blank" class="fa fa-facebook padding5 fg-color-orange"></a>
    <a href=" https://in.linkedin.com/pub/madhusudan-arora/2a/a17/113" target="_blank" class="fa fa-linkedin padding5 fg-color-orange"></a>
    <a href="https://twitter.com/mikeengtrainer" target="_blank"  class="fa fa-twitter padding5 fg-color-orange"></a>
  </h4>

</div>

<div id="contacts" style="background-color:#666465;padding:20px;font-size:12px;" class="col-lg-12 text-justify">
<h5 class=" fg-color-white"><span style="padding:10px;">Feel free to contact me: </span>
<span style="padding:10px;" class="fa fa-phone" aria-hidden="true">&nbsp;+919811753853 </span>

<b style="padding:10px;" > | </b>
<span style="padding:10px;" class="fa fa-envelope" aria-hidden="true">&nbsp;sfsd@gmail.com</span></h5>
<h5>
57, Sheetal Apartments, Sector-14, Rohini, Delhi, Ground Floor, Corner Flat, Main Entrance
</h5>
</div>
