<h2 class="fg-color-orange">IELTS (International English Language  Testing System)</h2>
<div class="row">
<div class="col-lg-7 text-justify small">
<p><b class="fg-color-blue">How to go about with IELTS? </b>IELTS is recognised as basic requirement by the British, the US, Australian, Canadian and New Zealand universities for admission to secondary and vocational training programmes,  and for immigration and employment abroad, IELTS opens  doors to international opportunities. </p>
<p>IELTS is owned, developed and delivered through the partnership of the British Council, IDP Australia and the University of Cambridge. Over 3800 educational institutions, government agencies and professional organisations in more than 120 countries, including the U.S.,  recoginse IELTS.</p>
<p><b class="fg-color-blue">Where can I take the test?</b>  There are currently more than 400 IELTS test centres all over 120 countries worldwide. Around 30 test centers in India conduct IELTS  examination on a regular basis. </p>
<p><b class="fg-color-blue">What is the Test Format?</b> IELTS has two versions: the General Version and the Academic Version. Both the versions have four modules in which the exams are conducted. All condidates are tested in these four modules: Listening, Reading, Writing and Speaking.</p>
<p style="padding:50px;" class="text-upercase"> 
<div class="row" style="padding-bottom:40px;" >
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">Listening</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">4 Sections, 40 questions</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">30 + 10 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">General Training Reading</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">3 Sections, 40 questions</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">60 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">Listening</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">4 Sections, 40 questions</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">30 + 10 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">Academic Reading</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">3 Sections, 40 questions</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">60 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">General Training Writing</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">2 tasks ( min. Of 150 & 250 words)</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">60 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">Academic Writing</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">2 tasks ( min. Of 150 & 250 words)</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">60 mins.</b></div>
</div>

<div class="row" style="padding-bottom:40px;">
		<div class="col-lg-2 col-lg-offset-1"><b class="fg-color-blue">Speaking</b></div> 				
		<div class="col-lg-4"><b class="fg-color-blue">3 sections</b></div>			
		<div class="col-lg-3"><b class="fg-color-blue">11 to 14 min.</b></div>
</div>
						
</p>
<p>The first three modules – Listening, Reading and Writing – must be completed in one day. The Speaking Module may be taken at the <b class="fg-color-blue">discretion of the test centre.</b> Generally, it is on the same or the next day.</p>
<p>Which Module should I take, Academic or General Training? Candidates must select either the Academic or the General Training Reading and Writing Modules depending on the requirement of their sponsor or receiving institution. If you go for higher studies, you must take the academic module. In the case of some job aspirants, such as nurses, they are required to take the Academic module. The version in which the candidate should take the test depends on his/her purpose of going abroad, requirements of the particular university, sponsor or registering body.</p>
<p><b class="fg-color-blue">How to get the test result? IELTS</b> test result is published on the website on the 13th day after the exam. Candidates receive band scores on the scales from 1 to 9. They get individual module score as well as an overall score. There is no pass or fail mark. The required score is decided by the agency/institution which requires you to take the test. Receiving organisations will consider both the overall band score. And the bands recorded for each individual module. The scoring is done in band scores and the maximum band is 9. Individual scores are also given to each modules in the IELTS Test. Result survery shows that the minimum scores required for acceptance to a course of study range from 5.0 to 7.5. The most common requrement is 6.0 to 7.0.</p>
<h4 class="text-center">Validity of the test</h4>
<p>As a general rule a Test Report Form is valid at least for two years. The IELTS partners cannot verify results beyond two years' validity. A detailed description of each module, on how to score well, is given in this book at the begining of the respective modules.</p>
<p class="row">
	<div class="col-lg-6 text-left"><b class="fg-color-blue">Reading</b></div>
	<div class="col-lg-6 text-right"><b class="fg-color-blue">Time: 60 minutes</b></div>
	<div class="col-lg-12 text-center" style="padding:20px;"><b class="fg-color-blue">Academic Reading</b></div>
</p>
<p>There are three reading passages with different kinds of questions to answer. Texts are taken from books, magazines, journals and newspapers, all written for a non-specialist audience. Answers are to be recorded on an answer sheet within the hours.</p>
<p>
<div class="col-lg-12 text-center" style="padding:20px;"><b class="fg-color-blue">General Reading</b></div>
</p>
<p>The tests are based on the type of materal condidates would be epxected to meet on a dialy basis in an English speaking country. They are taken from sources such as newspapers. advertisements, instruction manuals and books. Answers are to be recorded on an answer sheet within the hour.</p>
<p>
	<div class="col-lg-6 text-left"><b class="fg-color-blue">Writing</b></div>
	<div class="col-lg-6 text-right"><b class="fg-color-blue">Time: 60 minutes</b></div>
	<div class="col-lg-12 text-center" style="padding:20px;"><b class="fg-color-blue">Academic Reading</b></div>
</p>
<p>There are two tasks in this test. For the first task, candidates have to write a report in not less than 150 words based on material found in a graph, chart, table or diagram, demonstrating their ability to describe and explain data.</p>
<p>For the second task candidates have to write an essay of not less than 250 words on a given topic. They are expected to demonstrate an ability to discuss issues, construct arguments and use appropriate tone and reqister.</p>

<p><div class="col-lg-12 text-center" style="padding:20px;"><b class="fg-color-blue">General Training Writing</b></div></p>
<p>The first task requires candidates to write a letter of not less than 150 words either asking for information or explaining a situtation.</p>
<p>The second task is an essay of not less than 250 words, to be written on a given topic. Candidates are expected to be able to present their own ideas and challenge others' ideas, using appropriate tone and register.</p>
<p>
	<div class="col-lg-6 text-left"><b class="fg-color-blue">Speaking</b></div>
	<div class="col-lg-6 text-right"><b class="fg-color-blue">Time: 11-14 minutes</b></div>
</p>
<p>The test takes the form of a one-to-one interview between the candidate and the examiner. The candidate is asked questions, made to speak for one to two minutes on a given topic (one minute is given for making notes and preparing what one wants to say), and answer further questions expressing opinion and speculations.</p>
<p>
	<div class="col-lg-6 text-left"><b class="fg-color-blue">Listening</b></div>
	<div class="col-lg-6 text-right"><b class="fg-color-blue">Time: 40 minutes</b></div>
</p>
<p>Candidates listen to a number of tapescripts once only. The test increases in difficulty as it progresses. They include a mixture of conversations and dialouges with a variety of English accents. Candidates are given a limited time to read the questions before listening. After the listening test candidates are given 10 minutes to transfer their answers to an answer sheet.
N.B. marks are reduced for incorrect spelling. Occasionally marks are awarded for particular variants of spellings.</p>

</div>
<div class="col-lg-5">
<h2>FAQs ON IELTS</h2>
<h4><i class="fg-color-blue">How to register for IELTS?</i></h4>
<p>Fill in the application form and send it to the nearest British Council or IDP Office with the test fee. Copy of passport and three passport size photographs are to be sent along with this. At present the exam fee is Rs. 10600 . You must have a passport on the exam date for identification. No other document will be accepted.</p>
<h4><i class="fg-color-blue">How to prepare for IELTS Test?</i></h4>
<p>IELTS is an international examination. You have to evaluate your own proficiency in English. If your confidence, grammer, fluency, lexical resource, analytical ability etc. are of mediocre level, you should seek the help of an institute where IELTS is taught seriously and simulated tests are conducted reqularly. If you are not good at speaking you should get help from institutes where exclusive traning for speaking is given.</p>
<h4><i class="fg-color-blue">What happens if I wish to cancel or postpone the examination?</i></h4>
<p>The fee is NON-REFUNDABLE, but if a candiate wants to postpone the test date, a minimum of one week's notice should be given, otherwise a postponement fee will be charged. REFUNDS ARE GIVEN ONLY TO CANDIDATES WHO CAN PROVIDE WRITTEN PROOF FROM THE RELEVANT AUTHORITIES THAT THEY ARE NO LONGER REQUIRED TO TAKE THE EXAMINATION.</p>
<h4><i class="fg-color-blue">What kind of accents will I hear in the Listening and Speaking test?</i></h4>
<p>In IELTS a variety of English accents are used in both the examinations.</p>
<h4><i class="fg-color-blue">What kind of accents will I hear in the Listening and Speaking test?</i></h4>
<p>In IELTS a variety of English accents are used in both the examinations.</p>
<h4><i class="fg-color-blue">Is the IELTS test completed in one day?</i></h4>
<p>The test effectively takes a whole day. The Listening, Reading and Writing modules of the test are always completed one after the other and in the same order. The Speaking test can be done either before or after the test date, depending on the availablity.</p>
<h4><i class="fg-color-blue">Will the listening tape provide me with all the necessary instructions and pauses?</i></h4>
<p>Yes. At the begnning of the test, candidates receive instructions and hear a sample question In the final ten minutes, candidates transfer their answers on the answer sheet.</p>
<h4><i class="fg-color-blue">Can I complete the Listening and Reading answer sheets in pen?</i></h4>
<p>No. The answer sheet is scanned by a computer which cannot read writing in ink. Use only pencil.</p>
<h4><i class="fg-color-blue">Can I make some notes on the Listening and Reading Question papers?</i></h4>
<p>Yes, The examiner will not see your question paper.</p>
<h4><i class="fg-color-blue">What should I bring for the Speaking test?</i></h4>
<p>You need to bring the same identification documents you submitted on registration, as these must be checked again against the information on the application form.  These documents will be checked by the administrator and the Speaking Test examiner prior to your entering the interview room.</p>
<h4><i class="fg-color-blue">Is the IELTS Reading test a speed test?</i></h4>
<p>A distinction is sometimes made between 'speed' tests and 'power' tests. Speed tests are tests that provide too little time for candidates to answer all the questions. As both the Academic and the General Training Reading tests involve reading a substantial volume of material within the allotted sixty minutes, there is clearly an element of time pressure involved in the test. Although the test involves an element of time pressure, it is nevertheless a power test rather than a speed test because the primary focus is on the ability of candidates to answer the questions.</p>
<h4><i class="fg-color-blue">What can I bring into the examination room?</i></h4>
<p>Only pens, pencils and erasers. Provide proof of your identity at every examination session. Correction fluid must not be used. Mobile phones, and pagers must be switched off. Notify the test invigilator immediately if you face any difficulty.</p>

<h4><i class="fg-color-blue">Should candidates write in pen or pencil?</i></h4>
<p>Use pencil only for listening and reading modules. Pen or pencil can be used for the writing module.</p>

<h4><i class="fg-color-blue">Is there a similar period of ten minutes at the end of the Reading test for the transfer of answers?</i></h4>
<p>No, The Reading test is for one hour, and you must write all your answers on the answer sheet within this time.</p>

<h4><i class="fg-color-blue">What happens if I am delayed by circumstances beyond my control(e.g. a transportation strike)?</i></h4>
<p>Intimate the authorites immediately and you will be given an alternative test date.</p>

<h4><i class="fg-color-blue">What can I do if I am unhappy with my results?</i></h4>
<p>You can apply for your test to be re-marked within four weeks of receiving your results. There is a fee for this which is refunded if your band score improves.</p>

<h4><i class="fg-color-blue">How to improve on the IELTS score?</i></h4>
<p>Getting the required score is not that difficult. It requires training, time management and techniques. It is advisable to attend at least one month traning in a reputed institution.</p>

<h4><i class="fg-color-blue">After how many days can I retake the examination?</i></h4>
<p>Now candidates are able to repeat the test whenever they wish. However, it should be noted that IELTS scores are not substantially improved merely by taking repeated tests. One should take up training at some training centre to improve the scores.</p>
</div>
</div>