  <div class="row grey-darken">
<div class="col-lg-12">
<script type="text/javascript">
  $('.carousel').carousel();
</script>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="min-height:400px;background-color:#ff573d;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <div class="col-lg-12">
      <div>&nbsp;</div>
       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

     </div>

    </div>
    <div class="item">
           <div class="col-lg-12">
       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

        </div>

    </div>

        <div class="item">
           <div class="col-lg-12">
       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

        </div>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
</div>

      <div>
          <h2 class="col-lg-12 text-uppercase text-center fg-color-orange" style="padding:25px;">
             our programs
          </h2>
<p class="text-center small" style="background-color:#F2F2F2;padding:20px;">"I give training on IELTS and TOEFL for students who wish to study in any foreign university."</p>
          <div class="col-lg-12 text-center" style="padding-top:61px;background-color:#F2F2F2;">
              <div class="col-lg-4">
              <h3><a href="/ielts">IELTS</a></h3>
                  <img src="/assets/ielts.jpg" width="200">

                  <h5>
<span style="color:#337ab7;" class="text-uppercase">To join pay</br> $20(USD) per hour</span></br>
                  <img style="width:96px" src="/assets/paynow.png"></h5>
              </div>

              <div class="col-lg-4">
               <h3><a href="/voice_and_accent_training">VOICE & ACCENT TRAINING</a></h3>
                  <img src="/assets/vna.jpg" width="200">
                  <h5>
<span style="color:#337ab7;" class="text-uppercase">To join pay</br> $20(USD) per hour</span></br>
                  <img style="width:96px" src="/assets/paynow.png"></h5>
              </div>
                            
              <div class="col-lg-4">
              <h3><a href="/toefl">TOEFL</a></h3>
                  <img src="/assets/toefl.jpg" width="200">
                  <h5>
<span style="color:#337ab7;" class="text-uppercase">To join pay</br> $20(USD) per hour</span></br>
                  <img style="width:96px" src="/assets/paynow.png"></h5>
              </div>

          </div>
          <h2 class="col-lg-12 text-uppercase text-center fg-color-orange" style="padding:25px;">
            KNOW MORE ABOUT YOUR COMMUNICATION SKILLS
          </h2>
          <p class="text-center"><i class="understood-text">Do people often misunderstand what you intend to say?</i></p>
          <p class="text-center"><i class="understood-text">Do you often find yourself short on words while communication?</i></p>
<p class="text-center"><i class="understood-text">Do you sometimes find it difficult to put down your thoughts on paper?</i></p>
<p class="text-center"><i class="understood-text">Do you find yourself in situations where you end up saying “I don't mean that!” or “I think you've misunderstood me!”</i></p>
<p class="text-center"><i class="understood-text">Do you sometimes feel that you are not able to articulate your thoughts well enough?</i></p>
<p class="text-center"><i class="understood-text">Do you feel that although you speak well, sometimes people still don't understand what you are saying?</i></p>
<p class="text-center"><i class="understood-text">While your boss is saying something important to you – Do you believe in putting down everything on paper for later reference, even if you are not able to understand much?</i></p>
<p class="text-center"><i class="understood-text">Do you think that at all times you take too much time to say too little?</i></p>
<p class="text-center"><i class="understood-text">Do you sometimes feel that when you speak, people do not pay attention?</i></p>
<h3 class="text-center">Now prepare yourself to communicate more effectively <br>with the entire world after taking <br>Mike Spoken English Classes</p>
<h5 style="text-align: center;">
<span class="text-uppercase" style="color:#337ab7;">To join pay $20(USD) per hour</span></br>
                  <img src="/assets/paynow.png" style="width:96px"></h5>
      </div>
      <div class="row">

