<h2 class="fg-color-orange">Voice and Accent Training</h2>
<div class="row">
<div class="col-lg-3 text-justify small">
<h4 class="fg-color-blue">
PRONUNCIATION
</h4>
<p>Consonant sounds
</p>
<p>Ends of words
</p>
<p>Vowel (long & short) sounds
</p>
<p>Syllable-stress
</p>
<p>Intonation
</p>
<p>Statements & Questions</p>
</div>

<div class="col-lg-3 text-justify small">
<h4 class="fg-color-blue">
GRAMMAR
</h4>
<p>Tenses
</p>
<p>Gender form
</p>
<p>Singular & Plural forms
</p>
<p>Articles
</p>
<p>Sentence construction / word order
</p>
</div>


<div class="col-lg-3 text-justify small">
<h4 class="fg-color-blue">
FLUENCY
</h4>
<p>Good introduction
</p>
<p>Correct phraseology
</p>
<p>Accurate Information
</p>
<p>No foghorns and fillers
</p>
<p>Rate of Speech
</p>
</div>

<div class="col-lg-3 text-justify small">
<h4 class="fg-color-blue">
UNDERSTANDABILITY/ COMPREHENSION
</h4>
<p>Associate's articulation
</p>
<p>Listener understands the associate.
</p>
</div>
</div>